---
import { Icon } from 'astro-icon/components';
import Heading from './Heading.astro';
import Form from './Form.astro';
import Container from './Container.astro';
import Paragraph from './Paragraph.astro';

interface ContactLink {
  href: string;
  name: string[];
  icon?: string;
  text?: string;
}

interface Timmings {
  title: string;
  details: string;
}

interface Props {
  contact: ContactLink[];
  timmingsTitle: string;
  timmings: Timmings[];
}

const { contact, timmingsTitle, timmings } = Astro.props;
---

<Container width="marginxy" animate={true}>
  <section id="contact">
    <Heading
      size="xl"
      fontweight="bold"
      fontstyle="sans"
      class="text-center mb-10">Contact</Heading
    >

    <div class="grid md:grid-cols-2 gap-10">
      <div class="flex flex-col gap-2 space-y-3">
        <div class="items-center gap-2">
          <Heading size="lg" fontweight="bold" fontstyle="sans"
            >Get In Touch.</Heading
          >
          <Heading size="md" fontweight="medium" fontstyle="sans"
            >Call or email us and book your appointment.</Heading
          >
        </div>
        <ul class="space-x-4">
          {
            contact.map(({ href, icon, name }) => (
              <li class="group flex flex-row items-center gap-4 w-fit">
                <Icon
                  name={icon}
                  class="w-6 h-6 group-hover:text-error duration-300 ease-in-out"
                />
                <a href={href} class="link link-hover">
                  {name.map((i) => (
                    <Paragraph
                      size="sm"
                      fontweight="medium"
                      fontstyle="sans"
                      class="flex-col items-center"
                    >
                      {i}
                    </Paragraph>
                  ))}
                </a>
              </li>
            ))
          }
        </ul>

        <div class="mt-5">
          <Heading size="md" fontweight="semibold" fontstyle="sans" class="mb-3"
            >{timmingsTitle}</Heading
          >
          <ul class="space-y-4">
            {
              timmings.map((timming) => (
                <li class="flex flex-row gap-2">
                  <p>
                    <b> {timming.title}:</b> {timming.details}
                  </p>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <!-- <div>
        <Form />
      </div> -->
    </div>
  </section>
</Container>
<div class="w-full">
  <iframe
    title="Map for Sapphire Heart Care Clinic"
    class="w-full h-96"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.0474418615345!2d77.5830357751217!3d12.904670987404502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15135995af1f%3A0xc650d0e6015f26c8!2sSapphire%20Skin%20%26%20Aesthetics%20Clinic!5e0!3m2!1sen!2sin!4v1738766543328!5m2!1sen!2sin"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
