---
import { Image } from "astro:assets";
import ThemeToggle from "@/components/ThemeToggle.astro";
import Logo from "@/assets/images/Sapphire-Heart-Care-Clinic-Logo.svg";

interface NavLink {
  text: string;
  link: string;
}

interface Props {
  links: NavLink[];
}

const { links } = Astro.props;
---

<script>
  let lastScrollTop = 0;
  const navbar = document.getElementById("navbar");

  window.addEventListener("scroll", () => {
    let scrollTop = window.scrollY || document.documentElement.scrollTop;
    if (scrollTop > lastScrollTop) {
      navbar?.classList.add("nav-hidden");
    } else {
      navbar?.classList.remove("nav-hidden");
    }
    lastScrollTop = scrollTop;
  });
</script>

<style>
  .nav-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
</style>

<div class="drawer drawer-end z-30">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div
      id="navbar"
      class="z-10 navbar bg-base-300 w-full fixed top-0 shadow-sm px-2 md:px-5 lg:px-10 transition-transform"
    >
      <div class="mx-2 flex-1 px-2">
        <a href="/" class="text-xl">
          <Image
            src={Logo}
            alt="Sapphire Heart Care Clinic Logo"
            width="200"
            height="100"
            loading="eager"
          />

          <p class="sr-only">Sapphire Heart Care Clinic</p>
        </a>
      </div>
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" aria-label="open sidebar">
          <span class="sr-only">Open menu</span>
          <svg
            id="my-drawer-3"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-menu"
          >
            <line x1="4" x2="20" y1="12" y2="12"></line>
            <line x1="4" x2="20" y1="6" y2="6"></line>
            <line x1="4" x2="20" y1="18" y2="18"></line>
          </svg>
        </label>
      </div>

      <div class="hidden flex-none lg:block">
        <ul class="menu menu-horizontal px-1" id="my-drawer-3">
          {
            links.map(({ text, link }) => (
              <li>
                <a
                  href={link}
                  title={`Go to ${text}`}
                  class="uppercase font-medium"
                >
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
        <ThemeToggle />
      </div>
    </div>
    <!-- Page content here -->
  </div>

  <div class="drawer-side z-30">
    <ul
      class="menu bg-base-200 min-h-full w-full p-4 space-y-10 pt-10"
      aria-label="Navigation"
    >
      <a href="/" class="text-xl">
        <Image src={Logo} alt="Dr. Natraj Setty" width="200" height="100" loading="eager" />
        <p class="sr-only">Dr. Natraj Setty</p>
      </a>

      <label
        for="my-drawer-3"
        aria-label="close sidebar"
        class="absolute top-10 right-10 drawer-overlay z-30"
      >
      <span class="sr-only">Close menu</span>
        <svg
          id="my-drawer-3"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x"
          ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
        >
      </label>
      <!-- <ul class="menu bg-base-200 min-h-full w-full p-4 space-y-10 pt-10" aria-label="Navigation"> -->
      {
        links.map(({ text, link }) => (
          <li id="my-drawer-3">
            <a
              href={link}
              title={`Go to ${text}`}
              class="mx-auto"
              aria-label={`Go to ${text}`}
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
